<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="container text-center">    
    <h1 class="display-1" style="color: #599532; font-family: 'Open Sans', sans-serif; font-weight: 600;">
      qu 
      <%= image_tag "qua_lateral.png", alt: "logo", style: "width: 100px; height: 100px; vertical-align: middle;" %>      
      cker
    </h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'w-100 d-flex flex-column align-items-center' }) do |f| %>
      
      <div class="form-row w-50">
        <div class="form-group w-100">
          <%= f.label :'E-mail' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', style: "border: 2px solid #000; border-radius: 20px;" %>
        </div>
      </div>

      <div class="form-row w-50 mt-3">
        <div class="form-group w-100">
          <%= f.label :Contraseña %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', style: "border: 2px solid #000; border-radius: 20px;" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check-wrapper mt-3">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end %>

      <div class="d-flex justify-content-center mt-4 gap-3">
        <%= link_to "Registrarse", new_user_registration_path, 
          class: 'btn rounded-pill', 
          style: 'width: 150px; background-color: #ffde59; color: #000; border-radius: 50px; transition: background-color 0.3s ease;', 
          onmouseover: "this.style.backgroundColor='#e0c04e'; this.style.color='#fff';", 
          onmouseout: "this.style.backgroundColor='#ffde59'; this.style.color='#000';" 
        %>

        <%= f.submit "Log in", 
          class: 'btn rounded-pill', 
          style: 'width: 150px; background-color: #82bb5d; color: #000; transition: background-color 0.3s ease;', 
          onmouseover: "this.style.backgroundColor='#6ca45f'; this.style.color='#fff';", 
          onmouseout: "this.style.backgroundColor='#82bb5d'; this.style.color='#000';" 
        %>
      </div>
      
    <% end %>
  </div>
</div>
