<!DOCTYPE html>
<html>
<head>
  <title>SimpleTwitter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="background-color: #f7f6dc;">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar Column -->
      <% if user_signed_in? %>
      <div class="col-12 col-sm-2 col-xl-2 px-sm-2 px-0 bg-dark d-flex flex-column sticky-top vh-100" id="mainSidebar">
        <%= render partial: 'layouts/navbar' %>
      </div>
      <% end %>
      <!-- Main Content Column -->
      <main class="col-12 col-sm-9 col-xl-10 px-md-4">
        <%= render partial: 'layouts/flash' %>
        <%= yield %>
      </main>
    </div> 
  </div>
  
</body>
</html>
